
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="my cv page">
    <meta name="author" content="ipeacocks">

    <title>My Curriculum Vitae</title>

    <!-- Bootstrap core CSS -->
    <!-- Flatly theme from https://bootswatch.com -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

  <body>
    <div class="container">
      <div class="mt-5">
        <h2>{{ personal_info[0].name }}</h2>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card bg-light mb-3 personal-info">
            <div class="card-header">
              Personal Info
            </div>
            <div class="card-body col-md-4">
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <td><b>Phone:</b></td>
                    <td>{{ personal_info[0].phone }}</td>
                  </tr>
                  <tr>
                    <td><b>Skype:</b></td>
                    <td>{{ personal_info[0].skype }}</td>
                  </tr>
                  <tr>
                    <td><b>Email:</b></td>
                    <td>{{ personal_info[0].email }}</td>
                  </tr>
                  <tr>
                    <td><b>Address:</b></td>
                    <td>{{ personal_info[0].address }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card bg-light mb-3">
            <div class="card-header">
              Knowledge
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                {% for skill in knowledge %}
                {% set skill_list = skill.knowledge.split(':') %}
                <li><b>{{ skill_list[0] }}:</b>{{ skill_list[1] }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-light mb-3">
            <div class="card-header">
              Experience
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                {% for work in experience %}
                  <li><b>{{ work.position }}</b></li>
                  <li class="text-muted">{{ work.time }}</li>
                  <li><a href="{{ work.site }}">{{ work.site }}</a></li>
                  <li><br></li>
                  {% set experience_list = work.experience.split(';') %}
                    {% for experience in experience_list %}
                    <li>&#9642; {{ experience }}</li>
                    {% endfor %}
                  <li><br></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>