html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 920px;
  padding: 0 15px;
}

.personal-info {
    margin-top: 25px;
}
